body {
    padding: 0;
}
nav.top-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);*/
}
nav .navbar-item {
    display: block;
    margin: 6px auto;
}
nav .brand {
    margin: 3px auto;
}
menu.top-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
menu.top-menu .container {
    padding-top: 75px;
}
menu .close-menu {
    display: block;
    margin: 10px 15px;
}
