-----------------------------------------------
Template for blogger
Name:     Simple Template
Designer: Marcelo Bonus
URL:      www.github.com/marcelobns
----------------------------------------------- */
@media screen and (min-width: 768px) {
	.container {width: 95%}
}
body {
	font-family: Roboto, sans-serif;	
}
a {
	color: #4184F3;
	text-decoration:none;
}
img {
	max-width:100%;
	height:auto;
}
.section {
	margin: auto;
}
.container {
	max-width: 1050px;
}

#header-outer {
	padding: 0px;
	min-height: 190px;
}
.header-logo img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 200px;
	margin: auto;
}
.header-left {
	margin-top: 7%;
}
.header-title a{
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 7px;
	text-decoration:none;
	color: #262626;
}
.header-desc {
	font-weight: normal;
	margin-bottom: 7px;	
	max-width: 260px;
}
#wrapper {
	margin-top:35px;
	padding: 0px;
}
#main {
	padding: 0px;
}
.sidebar {
	border: 1px solid #eee;
}
.sidebar h2 {
	font-size: 15px;
	font-weight: normal;
	margin: 15px;
}
.sidebar a {
	color: #333;
}
.sidebar ul {
	list-style: none;
}
.sidebar .widget {
	display: block;
	font-size: 15px;
	color: #757575;
	margin-bottom: 0px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.sidebar .widget-content{
	margin: 0px 15px;
}
.post-thumb {
	min-height: 265px;
	overflow: hidden;
    max-width: 320px;
    margin: auto;
	margin-bottom: 25px;
}
.post-thumb .post-label{
	background-color: rgba(0,0,0,0.15);
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	padding: 1px 5px!important;
	font-size: 12px;
	position: absolute;
	top: 15px;
}
.post-thumb .post-label:hover{
	color: rgba(255,255,255,0.85)
}
.post-thumb .placeholder {
	background-color: #444;
	height: 215px;
	overflow: hidden;
    background-size: cover;
    background-position: center;
	-webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000);
	    -moz-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000);
	     -ms-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000);
	      -o-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000);
	         transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000);
}
.post-thumb .placeholder:hover {
  -webkit-transform: scale(1.25);
         -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
           -o-transform: scale(1.3);
              transform: scale(1.3);
}
.post-thumb .href {
	display:block;
	overflow: hidden;
}
.post-thumb .caption {
    text-align: justify;
	padding: 6px 3px;
}
.post-thumb .caption a{
	color: #333;
	font-size: 16px;
}
.blog-pager {
	float:right;
}
.blog-pager a {
	color: #777;
	margin-left: 30px;
	margin-right: 5px;
}
.feed-link {
	color: #777;
}
.footer-outer{
  background: #f5f5f5;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 40px;
}
.footer-inner {
  min-height: 140px;
}
.widget {
	margin: 0px;
}
